<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was create by Johnson Kow. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="https://www.johnsonkow.dev/static/media/Johnson-01378.e38c8ea7.jpg"
            alt="Portrait of Johnson">
    </div>
    {{>footer}}
</body>

</html>